{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title">Edit Profile</h1>

            <h1 class="title">Settings</h1>

            <h2 class="title">Privacy</h2>



        </div>
    </section>

{% endblock %}
