{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1>List of RSVP events</h1>



        </div>
    </section>

{% endblock %}
