{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-2">
                    <h1 class="title is-6">Friends</h1>
                    {% for user in friends %}
                        {{ user.name }}<br>
                    {% endfor %}
                </div>
                <div class="column is-10">
                    you can only message to people you are friends with, or people who allow you to message them.
                </div>
            </div>
    </section>

{% endblock %}
