{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1>messages</h1>
            <p>list of messages</p>

            <h1>activities</h1>
            <p>list of activities</p>



        </div>
    </section>

{% endblock %}
