{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-7">
                    <h2 class="title is-5">Activities</h2>
                    <p>
                        This is your personal activity stream. You can see your activities and the ones of the people
                        you follow. Like Rsvp's, image uploads, comments, etc.
                    </p>
                    <div class="mt-5">
                        {% for activity in activities %}
                            {% include 'profile/block/activity.html.twig' with { 'activity': activity} %}
                        {% endfor %}
                    </div>
                </div>
                <div class="column is-1">

                </div>
                <div class="column is-4">

                    {%
                        include 'profile/block/social_list.html.twig'
                        with {
                            'userlist': friends,
                        'title': 'We follow each other',
                            'buttonTitle': 'Unfollow',
                            'buttonColor': 'is-danger'
                        }
                    %}

                    {%
                        include 'profile/block/social_list.html.twig'
                        with {
                            'userlist': following,
                            'title': 'People i follow',
                            'buttonTitle': 'Unfollow',
                            'buttonColor': 'is-danger'
                        }
                    %}

                    {%
                        include 'profile/block/social_list.html.twig'
                        with {
                            'userlist': followers,
                            'title': 'People who follow me',
                            'buttonTitle': 'Follow back',
                            'buttonColor': 'is-success'
                        }
                    %}

                    <p class="mt-4">
                        Find more people to follow at the member page or ask for their username at the next meetup.
                    </p>

                </div>
            </div>

        </div>
    </section>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            (document.querySelectorAll('.showMore') || []).forEach((trigger) => {
                trigger.addEventListener('click', event => {
                    event.preventDefault();
                    event.currentTarget.parentNode.parentNode.parentNode.querySelectorAll('.is-hidden').forEach(el => {
                        el.classList.remove('is-hidden');
                    });
                    event.currentTarget.parentNode.parentNode.classList.add('is-hidden');
                });
            });
        });

    </script>

{% endblock %}
