{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_translation_edit"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="title">Edit Translation</h1>

            EDIT

        </div>
    </section>

{% endblock %}
