{% extends 'base.html.twig' %}

{% block content %}

    <section class="section">
        <div class="container">

            <h1 class="title">Translations</h1>

            EDIT

        </div>
    </section>

{% endblock %}
