{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th>Number</th>
                <th>Url</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item.number }}</td>
                    <td>{{ item.url }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
