{% extends 'admin/base.html.twig' %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <ul>
                        {% for id,log in logs %}
                            <li><a href="{{ path('app_admin_logs_system', {'id': id}) }}">{{ log.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column is-9">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
