{% extends '@Voting/base_voting.html.twig' %}

{% block title %}{{ 'voting_poll.page_title_list'|trans }}{% endblock %}

{% block voting_body %}
<h1 class="title">{{ 'voting_poll.page_title_list'|trans }}</h1>
<p class="has-text-grey">{{ 'voting_poll.no_polls'|trans }}</p>
{% endblock %}
