{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_about"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1>About</h1>



        </div>
    </section>

{% endblock %}
