<div class="box">
    <h2 class="title is-6">Login activity (this week)</h2>
    <canvas id="loginChart" style="max-height: 200px;"></canvas>
</div>

<script type="text/javascript">
new Chart(document.getElementById('loginChart'), {
    type: 'bar',
    data: {
        datasets: [{
            data: [{% for day, count in loginTrend %}{x: '{{ day }}', y: {{ count }}},{% endfor %}],
            backgroundColor: 'rgba(54, 162, 235, 0.5)'
        }]
    },
    options: {plugins: {legend: {display: false}}}
});
</script>
