<div class="box">
    <h2 class="title is-6">RSVP Activity (this week)</h2>
    <table class="table is-narrow is-fullwidth">
        <tbody>
            <tr>
                <td>Yes</td>
                <td class="has-text-right">{{ rsvpStats.yes }}</td>
            </tr>
            <tr>
                <td>No</td>
                <td class="has-text-right">{{ rsvpStats.no }}</td>
            </tr>
            <tr class="has-background-light">
                <td><strong>Total</strong></td>
                <td class="has-text-right"><strong>{{ rsvpStats.total }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>
