{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_register"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-5">

                    Your email was verified, the next days an administrator will activate your account

                </div>
            </div>

        </div>
    </section>

{% endblock %}
