{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_register"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-5">

                    There was a problem with your email activation, please contact xuedi next meeting

                </div>
            </div>

        </div>
    </section>


{% endblock %}
