{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_register"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-5">

                    We send you a password reset email with a link, please click the link in the email to continue the process.

                </div>
            </div>

        </div>
    </section>


{% endblock %}
