<div class="tabs is-boxed">
    <ul>
        <li class="{% if activeSection == 'requests' %}is-active{% endif %}">
            <a href="{{ path('app_admin_support_list') }}">
                <span class="icon is-small"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
                <span>{{ 'support_tab_requests'|trans }}</span>
            </a>
        </li>
        <li class="{% if activeSection == 'reports' %}is-active{% endif %}">
            <a href="{{ path('app_admin_support_reports') }}">
                <span class="icon is-small"><i class="fa fa-flag" aria-hidden="true"></i></span>
                <span>{{ 'support_tab_reports'|trans }}</span>
            </a>
        </li>
    </ul>
</div>
