{% extends 'base.html.twig' %}

{% block title %}{{ "member.page_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="title">{{ 'member.access_denied_heading'|trans }}</h1>
            <p class="mb-5">
                {{ 'member.access_denied_intro'|trans }}
            </p>

        </div>
    </section>

{% endblock %}
