{% extends 'base.html.twig' %}

{% block title %}members{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1>Management</h1>

            <p>Power users can approve images, users and so on</p>


        </div>
    </section>

{% endblock %}
