{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_member"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title is-3">Members</h1>

            <div class="columns is-multiline">
                {% for member in members %}

                    <div class="column is-2">
                        {% include '_block/usercard.html.twig' with {'user': member} %}
                    </div>

                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}
