{% extends 'base.html.twig' %}

{% block title %}members{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1>View public profile</h1>

            <p>images, activities, everything that the users shares in privacy setttings</p>



            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img
                                src="https://bulma.io/assets/images/placeholders/128x128.png"
                                alt="Top Banner"
                        />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img
                                        src="https://bulma.io/assets/images/placeholders/96x96.png"
                                        alt="profile picture"
                                />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">xuedi</p>
                            <p class="subtitle is-6">ROLES</p>
                        </div>
                    </div>

                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                        iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br/>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
