{
	admin off
	local_certs
	skip_install_trust
	log default {
		output stdout
		format console
		level WARN
	}

	frankenphp {
		php_ini {
			memory_limit 1G
			max_execution_time 300
			upload_max_filesize 256M
			post_max_size 512M
		}
	}
}

* {
	root /var/www/html/public
	encode zstd br gzip

	@phpRoute {
		not file {path}
	}
	rewrite @phpRoute index.php

	@frontController path index.php
	php @frontController

	header {
		Strict-Transport-Security "max-age=31536000;"
	}

	file_server {
		hide *.php
	}
}
