
<div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input class="input" name="title" type="text" value="{% if block is defined %}{{ block.title }}{% endif %}">
    </div>
</div>