# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

# app settings
APP_ENV=dev
APP_HOST="http://localhost"
APP_SECRET=1b23f99fb5e114fbd4705e8774111e6d

# docker
HOST_USERNAME=xuedi
HOST_UID=1000
HOST_GID=1000

# database
MARIADB_ROOT_PASSWORD=pAssW0rd
MARIADB_DATABASE=meetAgain
MARIADB_HOST=ma-db
MARIADB_USER=meetAgain
MARIADB_PASSWORD=UserPassW0rd
DATABASE_URL="mysql://${MARIADB_USER}:${MARIADB_PASSWORD}@${MARIADB_HOST}:3306/${MARIADB_DATABASE}?charset=utf8mb4"

# services
MAILER_DSN=smtp://mailhog:1025
SENTRY_DSN=


###> symfony/lock ###
# Choose one of the stores below
# postgresql+advisory://db_user:db_password@localhost/db_name
LOCK_DSN=flock
###< symfony/lock ###
