# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

APP_ENV=dev
APP_SECRET=1b23f99fb5e114fbd4705e8774111e6d
DATABASE_URL="mysql://meetAgain:12345@backspace:3306/meetAgain?serverVersion=11.5.2-MariaDB&charset=utf8mb4"
MAILER_DSN=null://null

MYSQL_ROOT_PASSWORD=pAssW0rd
MYSQL_DATABASE=meetAgain

###> symfony/mailgun-mailer ###
# MAILER_DSN=mailgun://KEY:DOMAIN@default?region=us
# MAILER_DSN=mailgun+smtp://USERNAME:PASSWORD@default?region=us
###< symfony/mailgun-mailer ###
