.env
installed.lock
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/plugins.php
/config/plugins_test.php
/config/plugins-post-fixtures.sh
/public/bundles/
/tests/reports/clover.xml
/tests/reports/junit.xml
/tests/reports/performance/*
/var/
/vendor/
/.idea/
/.deptrac.cache
/plugins/multisite/
/.claude/
/docs/site/

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfonycasts/sass-bundle ###
/public/assets/
/bin/dart-sass/
###< symfonycasts/sass-bundle ###

/assets/styles/_config.scss
