.env
installed.lock
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/plugins.php
/public/bundles/
/tests/reports/clover.xml
/tests/reports/performance/*
/var/
/vendor/
/.idea/
/.deptrac.cache
