{#
    Gallery: Typography -- title sizes, subtitle, helper colours, code, pre

    Anchor: g-typography.

    Used in:    admin/_gallery/index.html.twig
    Parameters: none
#}
<h1 class="title is-1">title is-1</h1>
<h2 class="title is-2">title is-2</h2>
<h3 class="title is-3">title is-3</h3>
<h4 class="title is-4">title is-4</h4>
<h5 class="title is-5">title is-5</h5>
<h6 class="title is-6">title is-6</h6>

<p class="subtitle is-5 mt-3">subtitle is-5</p>
<p class="subtitle is-6">subtitle is-6 (used as page intro under title)</p>

<div class="mt-4">
    <p>default body text</p>
    <p class="has-text-grey">has-text-grey (secondary)</p>
    <p class="has-text-grey-light">has-text-grey-light (subtle hint)</p>
    <p class="has-text-success">has-text-success (positive status)</p>
    <p class="has-text-warning">has-text-warning (pending status)</p>
    <p class="has-text-danger">has-text-danger (error / destructive)</p>
    <p class="has-text-link">has-text-link (link colour without underline)</p>
</div>

<h3 class="title is-6 mt-5">code &amp; pre</h3>
<p>Inline <code>code</code> goes here.</p>
<pre class="mt-2">multi-line
preformatted
block</pre>
