<div class="box">
    <h2 class="title is-5">{{ 'town_hall.tile_members_heading'|trans }}</h2>
    {% if members is empty %}
        <p class="has-text-grey">{{ 'town_hall.empty_state'|trans }}</p>
    {% else %}
        <div class="columns is-multiline is-mobile">
            {% for member in members %}
                <div class="column is-narrow has-text-centered">
                    <a href="{{ path('app_member_view', { _locale: app.request.locale, id: member.id }) }}">
                        <span class="is-size-7">{{ member.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
