{% extends '@Filmclub/base_filmclub.html.twig' %}

{% block title %}{{ 'filmclub_views.page_title_history'|trans }}{% endblock %}

{% block filmclub_body %}
<h1 class="title">{{ 'filmclub_views.page_title_history'|trans }}</h1>

{% include '@Filmclub/film/views/list.html.twig' with {
    columns: ['title', 'year', 'runtime', 'genres', 'shownAt'],
} %}
{% endblock %}
