@font-face {
    font-family: "Inter";
}

body {
    font-family: 'Inter', sans-serif;
}

#osm-map {
    z-index: 0;
}

.navbar-top {
    border-bottom: 1px solid lightgray;
}

.is-flag {
    height: 40px;
}
.is-flag-mini {
    height: 20px;
}

.is-pulled-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

#eventFilter {
    .field {
        display: inline;

        .control {
            display: inline;
        }
    }
}

.menu {
    .menu-list {
        .is-active {
            color: black;
            background-color: aliceblue;
        }
    }
}

.cookie-button {
    padding-left:70px;
    background-image: url('/images/monster.png');
    background-repeat: no-repeat;
}
#dropdown-cookie {
    min-width: 350px;
}

.breakText {
    display: block;
    max-width: 720px !important;
    word-break: break-all;
}

.flashNotification {
    position: absolute;
    width: max-content;
    left: 50%;
    bottom: 0;
    z-index: 1000;
}