<h1>Hello {{username}}!</h1>

<p>
    <strong>{{attendeeNames}}</strong> plan to attend the <strong>{{eventTitle}}</strong> event
    at the <strong>{{eventLocation}}</strong> on the <strong>{{eventDate}}</strong>.
</p>
<p>
    You can have a look at the Event details <a href="{{host}}/{{lang}}/event/{{eventId}}">here</a>.
</p>
<p>
    If you don't like to receive this notification, you can
    switch them off in your <a href="{{host}}/{{lang}}/profile/config/">settings</a>
</p>

<p>
    Cheers,<br>
    {{greeting}}
</p>
