<h1>Hello {{username}}!</h1>

<p>
    We're sorry to inform you that the <strong>{{eventTitle}}</strong> event
    at the <strong>{{eventLocation}}</strong> on the <strong>{{eventDate}}</strong> has been <strong>canceled</strong>.
</p>
<p>
    You can still view the event details <a href="{{host}}/{{lang}}/event/{{eventId}}">here</a>.
</p>
<p>
    If you don't like to receive this notification, you can
    switch them off in your <a href="{{host}}/{{lang}}/profile/config/">settings</a>
</p>

<p>
    Cheers,<br>
    {{greeting}}
</p>
