
<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                {% include '_block/image.html.twig' with {'image': activity.user.image, 'size': '50x50'} %}
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <div class="is-relative">
                    <strong class="mr-2">{{ activity.user.name }}</strong>
                    <small>{{ activity.createdAt|time_diff }}</small>
                    <br>
                    {{ activity.message|raw }}
                </div>
            </div>
        </div>
    </article>
</div>