{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">

                hero

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1>Welcome</h1>

        </div>
    </section>
{% endblock %}
