{% for film in films %}
    {% if film.posterImage is not null %}
        {% set href = '/images/thumbnails/' ~ film.posterImage.hash ~ '_400x600.webp' %}
        {% set caption = '<div style="text-align:center"><a href=' ~ path('app_plugin_filmclub_film_show', {id: film.id}) ~ '>' ~ film.title ~ '</a></div>' %}
        <span style="display:inline-block; margin: 2px;">
            <a data-fancybox="filmclub-gallery" data-caption="{{ caption }}" href="{{ href }}">
                {% include '_components/image.html.twig' with {'image': film.posterImage, 'size': '100x150', 'alt': film.title} %}
            </a>
        </span>
    {% endif %}
{% else %}
    <p class="has-text-grey">{{ 'filmclub_film.empty_state'|trans }}</p>
{% endfor %}

<script type="text/javascript">
    Fancybox.bind('[data-fancybox="filmclub-gallery"]', { compact: true });
</script>
