<div class="columns is-multiline is-mobile">
    {% for film in films %}
        <div class="column is-2-tablet is-3-mobile p-1">
            <a href="{{ path('app_plugin_filmclub_film_show', {id: film.id}) }}" title="{{ film.title }}">
                <figure class="image is-2by3">
                    {% include '_components/image.html.twig' with {'image': film.posterImage, 'size': '200x300', 'alt': film.title} %}
                </figure>
            </a>
        </div>
    {% else %}
        <div class="column">
            <p class="has-text-grey">{{ 'filmclub_film.empty_state'|trans }}</p>
        </div>
    {% endfor %}
</div>
