<aside class="menu">
    <p class="menu-label">
        Admin Panel
    </p>
    <ul class="menu-list">
        <li><a href="/admin/config">Config</a></li>
        <li><a href="/admin/events">Events</a></li>
        <li><a href="/admin/locations">Locations</a></li>
        <li><a href="/admin/hosts">Hosts</a></li>
        <li><a href="/admin/users">Users</a></li>
    </ul>
</aside>