<div class="tabs is-boxed">
    <ul>
        <li class="{% if activeSection == 'edit' %}is-active{% endif %}">
            <a href="{{ path('app_admin_translation') }}">
                <span class="icon is-small"><i class="fa fa-edit" aria-hidden="true"></i></span>
                <span>{{ 'menu_admin_translation_edit'|trans }}</span>
            </a>
        </li>
        <li class="{% if activeSection == 'actions' %}is-active{% endif %}">
            <a href="{{ path('app_admin_translation_actions') }}">
                <span class="icon is-small"><i class="fa fa-cog" aria-hidden="true"></i></span>
                <span>{{ 'menu_admin_translation_actions'|trans }}</span>
            </a>
        </li>
    </ul>
</div>
