<div class="field">
    <label class="label">Headline</label>
    <div class="control">
        <input class="input" name="headline" type="text" value="{{ block is defined ? block.headline : '' }}">
    </div>
</div>

<div class="field">
    <label class="label">Text</label>
    <div class="control">
        <textarea class="textarea" name="text" rows="12" placeholder="Textarea">{{ block is defined ? block.text : '' }}</textarea>
    </div>
</div>

<input type="hidden" name="imageRight" value="{{ block is defined and block.imageRight ? '1' : '0' }}">
