{# not defined: new block  #}
{% if block is not defined or editBlock == blockId %}

    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" name="title" type="text" value="{% if block is defined %}{{ block.title }}{% endif %}">
        </div>
    </div>

{% else %}

    <h1 class="title is-3">{{ block.title }}</h1>

{% endif %}
