<div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input class="input" name="title" type="text" value="{{ block is defined ? block.title : '' }}">
    </div>
</div>
