<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <h2 class="title is-4">{{ "Images"|trans }}</h2>
        </div>
    </div>
    <div class="level-right">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_event_upload', {'event': event.id}) }}" class="button is-success is-small ml-4">
                <span class="icon"><i class="fa fa-plus"></i></span><span>Upload photo</span>
            </a>
        {% endif %}
    </div>
</nav>

<div class="columns is-multiline mt-2">
    {% for image in event.images %}
        {% if image.reported is null %}
            {% set href = '/images/thumbnails/' ~ image.hash ~ '_1024x768.' ~ image.extension %}
            {% set Caption = 'You can <a href=' ~ path('app_report_image', {'id': image.id}) ~ '>report</a> an image if there is something wrong.' %}
            <div class="column is-2">
                <a data-fancybox="gallery" data-caption="{{ Caption }}" href="{{ href }}">
                    {% include '_block/image.html.twig' with {'image': image, 'size': '210x140'} %}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>



