services:

  php:
    build: php
    container_name: "ma-php"
    user: ${HOST_UID}:${HOST_GID}
    ports:
      - "80:80" # HTTP
      - "443:443" # HTTPS
      - "443:443/udp" # HTTP/3
    volumes:
      - ../:/var/www/html/
      - ./php/Caddyfile:/etc/frankenphp/Caddyfile:ro
      - ma-caddy_data:/data
      - ma-caddy_config:/config
    environment:
      - UID=${HOST_UID}
      - GID=${HOST_GID}
      - USERNAME=${HOST_USERNAME}
      - REDIS_URL=redis://valkey:6379
    depends_on:
      - valkey
    tty: true

  mariadb:
    image: mariadb:12.1.2@sha256:e1bcd6f85781f4a875abefb11c4166c1d79e4237c23de597bf0df81fec225b40
    container_name: "ma-db"
    volumes:
      - ma-mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_HOST=${MARIADB_HOST}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}

  mailhog:
    container_name: "ma-mailhog"
    image: mailhog/mailhog:v1.0.1@sha256:8d76a3d4ffa32a3661311944007a415332c4bb855657f4f6c57996405c009bea
    user: ${HOST_UID}:${HOST_GID}
    ports:
      - "1025:1025"
      - "8025:8025"

  valkey:
    container_name: "ma-valkey"
    image: valkey/valkey:latest@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f

volumes:
  ma-mysql-data:
  ma-caddy_data:
  ma-caddy_config:
