{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_profile"|trans }}{% endblock %}

{% block body %}

    <section class="section is-hidden-touch">
        {% include 'profile/messages/chat_desktop.html.twig' %}
    </section>

    <section class="section is-hidden-desktop">
        {% include 'profile/messages/chat_mobile.html.twig' %}
    </section>

{% endblock %}

{% block javascripts %}
    {% if messages is not null %}
        <script src="{{ asset('js/messages.js') }}" defer></script>
    {% endif %}
{% endblock %}
