@font-face {
    font-family: "Inter";
}

body {
    font-family: 'Inter', sans-serif;
}

#osm-map {
    z-index: 0;
}

.navbar-top {
    border-bottom: 1px solid lightgray;
}

.is-flag {
    height: 40px;
}

#eventFilter {
    .field {
        display: inline;

        .control {
            display: inline;
        }
    }
}

.cookie-button {
    padding-left:70px;
    background-image: url('/images/monster.png');
    background-repeat: no-repeat;
}
