{% extends '../../../../templates/base.html.twig' %}

{% block title %}{{ "Filmlist"|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Film list</h1>

        <p>
            ....
        </p>
    </div>
</section>
{% endblock %}
