{% extends '@Filmclub/base_filmclub.html.twig' %}

{% block title %}{{ 'filmclub_film.browser_title_list'|trans }}{% endblock %}

{% block javascripts %}
    {% if currentView.value == 'gallery' %}
        <script src="{{ asset('js/vendor/fancybox.umd.js') }}"></script>
    {% endif %}
{% endblock %}

{% block filmclub_body %}
<div class="level mb-4">
    <div class="level-left">
        <h1 class="title mb-0">{{ 'filmclub_film.page_title_list'|trans }}</h1>
    </div>
    <div class="level-right">
        {% include '@Filmclub/_partials/view_switcher.html.twig' with {
            context: viewContext,
            current: currentView,
            views: availableViews,
        } %}
    </div>
</div>

{% include '@Filmclub/film/views/' ~ currentView.value ~ '.html.twig' %}
{% endblock %}
