{% extends 'base.html.twig' %}

{% block title %}Ajax endpoints{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title is-3">Why are you here bro?</h1>
            <p class="mb-5">
                You don't look like a javascript to me :-P
            </p>
        </div>
    </section>

{% endblock %}
