{% extends '@Filmclub/base_filmclub.html.twig' %}

{% block title %}{{ 'filmclub_poll.page_title_list'|trans }}{% endblock %}

{% block filmclub_body %}
<h1 class="title">{{ 'filmclub_poll.page_title_list'|trans }}</h1>
<p class="has-text-grey">{{ 'filmclub_poll.no_polls'|trans }}</p>
{% endblock %}
