{#
    Gallery: Back button atom -- The arrow-left small button used inside detail topbars

    Atomic version of detail_header.html.twig. Anchor: g-back-button.

    Used in:    admin/system/theme/gallery/index.html.twig
    Parameters: none
#}
<p class="is-size-7 has-text-grey">
    {{ 'admin_system_gallery.source_of_truth'|trans }}
    <code>templates/admin/member/edit.html.twig</code>
</p>

<p class="mt-3">
    <a href="#" class="button is-small">
        <span class="icon is-small"><i class="fa fa-arrow-left"></i></span>
        <span>{{ 'global.button_back'|trans }}</span>
    </a>
</p>
