{#
    Gallery: Conventions -- One-screen quick-reference for no-markup admin one-liners

    Items here are pure conventions: they have no demo markup of their own, just a
    rule and a one-line explanation. Add a new entry here when a convention is too
    small to warrant its own gallery section.

    Used in:    admin/system/theme/gallery/index.html.twig
    Parameters: none
#}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>{{ 'admin_system_gallery.conventions_col_rule'|trans }}</th>
            <th>{{ 'admin_system_gallery.conventions_col_effect'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>id="filteredTable"</code></td>
            <td>{{ 'admin_system_gallery.conventions_filtered_table'|trans }}</td>
        </tr>
    </tbody>
</table>
