{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% for entry in gallerySections %}
            {% embed 'admin/_components/admin_section.html.twig' with {'section': entry.section} %}
                {% block body %}
                    {% include 'admin/system/theme/gallery/' ~ entry.partial ~ '.html.twig' with {
                        'galleryAdminTabsDemo': galleryAdminTabsDemo,
                        'galleryAdminTopList': galleryAdminTopList,
                        'galleryAdminTopDetail': galleryAdminTopDetail,
                    } %}
                {% endblock %}
            {% endembed %}
        {% endfor %}

    </div>

{% endblock %}
