{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-2-tablet is-12-mobile">
                {% block filmclub_sidebar %}
                    {% include '@Filmclub/_partials/sidebar.html.twig' %}
                {% endblock %}
            </div>
            <div class="column">
                {% block filmclub_body %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
