{% extends 'base.html.twig' %}

{% block title %}{{ "Film Club"|trans }}{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Film Club</h1>

        <p>
            Startpage
        </p>
    </div>
</section>
{% endblock %}
