{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        <div class="content">
            <h1 class="title">Email Templates</h1>
            <p>
                These are all the emails the website is sending out for various events, on the right
                side are the variables that can be used inside the email templates. The functionality
                to edit the email templates is not yet implemented. (coming soon)
            </p>
        </div>

        {% for name,email in emails %}
            <div class="content has-background-grey-lighter p-3 mt-6 is-large">{{ name | trans }}</div>
            <div class="columns">
                <div class="column is-7">
                    <div class="box">
                        <p>Subject: <b>{{ email.subject }}</b></p>
                        <br>
                        <p>
                            {% include email.template with email.context %}
                        </p>
                    </div>
                </div>
                <div class="column">
                    <table class="table is-narrow is-fullwidth">
                        {% for key,value in email.context %}
                            <tr>
                                <th>{{ key }}</th>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}

