{% if block.image %}
    <div class="columns is-vcentered mb-5">
        {% if not block.imageRight %}
            <div class="column is-4">
                {% include '_components/image.html.twig' with {'image': block.image} %}
            </div>
        {% endif %}
        <div class="column">
            <h2 class="title is-5">{{ block.title }}</h2>
            <div class="content mb-5">
                {{ block.content|sanitize_html('cms.content') }}
            </div>
        </div>
        {% if block.imageRight %}
            <div class="column is-4">
                {% include '_components/image.html.twig' with {'image': block.image} %}
            </div>
        {% endif %}
    </div>
{% else %}
    <h2 class="title is-5">{{ block.title }}</h2>
    <div class="content mb-5">
        {{ block.content|sanitize_html('cms.content') }}
    </div>
{% endif %}

<br/>
