<table class="table is-fullwidth">
    <tbody>
    {% for item in config %}
        <tr>
            <td>{{ item.name }}</td>
            <td>
                {# TODO: have new class as value entity handled by ConfigService #}
                {% if item.type.value == 'boolean' %}
                    {% set value = false %}
                    {% if item.value == 'true' %}
                        {% set value = true %}
                    {% endif %}
                    {% include '_block/toggle.html.twig' with {
                        'link': path('app_admin_system_boolean', {'name': item.name}),
                        'status': value
                    } %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>