<table class="table is-fullwidth">
    <tbody>
    {% for item in config %}
        <tr>
            <td>{{ ("config_option_" ~ item.name)|trans }}</td>
            <td>
                {% if item.isBoolean %}

                    {% include '_block/toggle.html.twig' with {
                        'link': path('app_admin_system_boolean', {'name': item.name}),
                        'status': item.getBoolean
                    } %}

                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>