{# @var context  string                          context key (e.g. 'films', 'wishlist') #}
{# @var current  Plugin\Filmclub\Enum\ViewType    currently selected view #}
{# @var views    Plugin\Filmclub\Enum\ViewType[]  available views in display order #}
<div class="buttons has-addons mb-0">
    {% for view in views %}
        <a href="{{ path('app_plugin_filmclub_set_view', {'context': context, 'type': view.value}) }}"
           class="button is-small{% if current.value == view.value %} is-link{% endif %}"
           title="{{ ('filmclub_views.label_' ~ view.value)|trans }}">
            <span class="icon"><i class="fa-solid fa-{{ view.icon }}"></i></span>
        </a>
    {% endfor %}
</div>
