<div class="title is-5">Upload Images</div>
{{ form_start(form) }}
{{ form_row(form.files) }}
<div class="field mt-3">
    <button type="submit" class="button is-success">Upload</button>
</div>
{{ form_end(form) }}
