{% extends 'base.html.twig' %}

{% block title %}{{ "cms.page_title_error"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="title">{{ 'cms.error_204_heading'|trans }}</h1>
            <p class="mb-5">
                {{ message|trans }}
            </p>

        </div>
    </section>

{% endblock %}
