{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_error"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-6">

                    <h1 class="title">Error: Page not found</h1>
                    <p>{{ message|trans }}</p>

                </div>
                <div class="column is-6">
                    <img src="/images/404.png" alt="Awesome image by kirkario.com"/>
                </div>
            </div>

            <p>If you are really, really curious, have a look at the <a href="/sitemap.xml">sitemap</a></p>

        </div>
    </section>

{% endblock %}
