{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_default"|trans }}{% endblock %}

{% block body %}

    <section class="section mt-6">
        <div class="container">

            CMS | no single slug page with this route found

        </div>
    </section>

{% endblock %}
