{% extends 'base.html.twig' %}

{% block title %}{{ 'cms.frontpage_title'|trans }}{% endblock %}

{% block meta_description %}{{ 'cms.frontpage_meta_description'|trans }}{% endblock %}

{% block meta_robots %}
    {% if languages|length == 0 %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}

{% block json_ld %}
    {% if languages|length > 0 %}
        <script type="application/ld+json">{{ {
            '@context': 'https://schema.org',
            '@type': 'WebSite',
            'url': get_canonical_url(),
            'name': 'meetAgain',
            'description': 'cms.frontpage_meta_description'|trans,
            'inLanguage': get_enabled_locales(),
        }|json_encode|raw }}</script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>.landing-column .card { background-color: hsl(0deg, 0%, 96%); }</style>
{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <header class="has-text-centered mb-6">
                <h1 class="title is-1">{{ app.request.host }}</h1>
            </header>

            {% set thin_column_class = {
                'single': 'is-12',
                'pair': 'is-6',
                'trio': 'is-4',
                'grid': 'is-4',
                'compressed': 'is-3',
                'accordion': 'is-3',
            }[layout.value|default('trio')]|default('is-4') %}

            <div class="columns is-multiline is-centered">
                {% for language in languages %}
                    {% include '_components/language_tile.html.twig' with {
                        'language': language,
                        'column_class': thin_column_class,
                        'with_intro': false,
                    } only %}
                {% else %}
                    <div class="column has-text-centered">
                        <p class="has-text-grey">{{ 'cms.languages_empty'|trans }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}
