{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_CMD"|trans }}{% endblock %}

{% block body %}

    {% for block in blocks %}
        {% if block.type.value == 8 %}
            {% include 'cms/blocks/' ~ block.type.name ~ '.html.twig' with {'block': block} only %}
        {% endif %}
    {% endfor %}

    <section class="section">
        <div class="container">
            {% for block in blocks %}
                {% if block.type.value != 8 %}
                    {% include 'cms/blocks/' ~ block.type.name ~ '.html.twig' with {'block': block} %}
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
