{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_default"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            {% for block in blocks %}
                {% include 'cms/blocks/' ~ block.type.name ~ '.html.twig' with {'block': block} only %}

            {% endfor %}

        </div>
    </section>

{% endblock %}
