<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>meetAgain</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/bulma-timeline.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% block javascripts %}{% endblock %}
</head>
<body>
{% include 'base_navbar.html.twig' %}
{% block body %}{% endblock %}
</body>
</html>
