<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chinese/German Culture Exchange in Berlin">

    {% for altLangCode, altLangLink in globalService.getAlternativeLanguageCodes %}
        <link rel=”alternate” hreflang="{{ altLangCode }}" href="{{ altLangLink }}" />
    {% endfor %}

    <title>{% block title %}meetAgain{% endblock %}</title>

    <link rel="stylesheet" href="/stylesheet/bulma.min.css"/>
    <link rel="stylesheet" href="/stylesheet/fontawesome.min.css"/>
    <link rel="stylesheet" href="/stylesheet/fontawesome-solid.css"/>
    <link rel="stylesheet" href="/stylesheet/fonts.css"/>
    <link rel="stylesheet" href="/stylesheet/custom.css"/>
    <script src="/javascript/custom.js" defer></script>

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body class="has-navbar-fixed-top mt-5">
{% include 'base_navbar.html.twig' %}
{% block body %}{% endblock %}
{% include 'base_footer.html.twig' %}
</body>
</html>
