<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>photoManager</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/bulma-timeline.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% block javascripts %}{% endblock %}
</head>
<body>
{% include 'navbar.html.twig' %}
{% block body %}{% endblock %}
</body>
</html>
