<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths is-hidden-mobile">
                <span class="copyright">© 2014–2024 dragon-descendants.de</span><br>
            </div>
            <div class="column"><strong>Static</strong>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="column"><strong>Dynamic</strong>
                <ul>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/members">Members</a></li>
                </ul>
            </div>
            <div class="column"><strong>Social</strong>
                <ul>
                    <li><a href="#" target="_blank">Instagram</a></li>
                    <li><a href="#" target="_blank">TikTok</a></li>
                </ul>
            </div>
            <div class="column"><strong>Legal</strong>
                <ul>
                    <li><a href="/imprint">Imprint</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>