<nav class="navbar navbar-top is-fixed-top py-4" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="signal-logo" src="{{ asset('/images/logo.png') }}" alt="Website Logo">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>


        <div id="navbarExampleTransparentExample" class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/events">Events</a>
                <a class="navbar-item" href="/members">Members</a>
                {% if is_granted('ROLE_MANAGER') %}
                    <a class="navbar-item" href="/manage">Manage</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="navbar-item" href="/admin">Admin</a>
                {% endif %}
            </div>

            <div class="navbar-end mt-2">
                {% if is_granted('ROLE_USER') %}
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="this.parentNode.parentNode.classList.toggle('is-active')">
                                <span>{{ app.user.name }}</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <p>
                                        You can insert <strong>any type of content</strong> within the
                                        dropdown menu.
                                    </p>
                                </div>
                                <hr class="dropdown-divider"/>
                                <a class="navbar-item" href="/profile/events">Events</a>
                                <a class="navbar-item" href="/profile/messages">Messages</a>
                                <hr class="dropdown-divider"/>
                                <a class="navbar-item" href="/members/{{ app.user.id }}">View Profile</a>
                                <a class="navbar-item" href="/profile/config">Settings & Privacy</a>
                                <a class="navbar-item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a class="navbar-item" href="/login">login</a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>
