{% extends 'base.html.twig' %}

{% block title %}Too Many Requests{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-5">

                    <h1 class="title is-4">Too many attempts</h1>
                    <p class="mb-4">{{ message }}</p>
                    <a class="button" href="{{ path('app_default') }}">Back to homepage</a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
