{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% include 'admin/security/_security_recent_table.html.twig' with {
            'rows': rows,
            'typeKey': 'reason',
            'typeColumnLabel': 'admin_security.col_reason',
            'emptyLabel': 'admin_security.empty_access_denied',
        } only %}

    </div>

{% endblock %}
