<div class="columns is-multiline">
    {% for book in books %}
        <div class="column is-3">
            <div class="card">
                {% if book.coverImage %}
                    <div class="card-image">
                        <figure class="image is-4by5">
                            {% include '_components/image.html.twig' with {'image': book.coverImage, 'size': '200x250'} %}
                        </figure>
                    </div>
                {% endif %}
                <div class="card-content">
                    <p class="title is-5">{{ book.title }}</p>
                    <p class="subtitle is-6">{{ book.author ?? 'Unknown author' }}</p>
                </div>
                <footer class="card-footer">
                    <a href="{{ path('app_plugin_bookclub_book_show', {id: book.id}) }}" class="card-footer-item">View</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('app_plugin_bookclub_note_edit', {bookId: book.id}) }}" class="card-footer-item">Notes</a>
                    {% endif %}
                </footer>
            </div>
        </div>
    {% endfor %}
</div>
