{% extends 'admin/base.html.twig' %}

{% block content %}

    <h1 class="title is-4">Result</h1>

    <table class="table">
        <tbody>
        <tr>
            <td>Number of translations:</td>
            <td>{{ result.count }}</td>
        </tr>
        <tr>
            <td>New translations:</td>
            <td>{{ result.new }}</td>
        </tr>
        <tr>
            <td>Removed orphans:</td>
            <td>{{ result.deleted }}</td>
        </tr>
        <tr>
            <td>Extraction time:</td>
            <td>{{ result.extractionTime }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
