{% extends 'base.html.twig' %}

{% block title %}{{ "page_plugin_dishes_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            List of dishes looks like a menu

        </div>
    </section>

{% endblock %}

