{% extends 'base.html.twig' %}

{% block title %}{{ "page_plugin_dishes_title_index"|trans }}{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ '/stylesheet/fancybox.css' }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ '/javascript/fancybox.umd.js' }}" ></script>
{% endblock %}


{% block body %}

    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-10">
                    {% include '@Dishes/views/' ~ viewType ~ '.html.twig' %}
                </div>

                <div class="column is-2">
                    {% include '@Dishes/sidebar.html.twig' %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}

