
<h1>Welcome {{ username }}!</h1>

<p>
    You signed up as for dragon-descendants.de please confirm your email address by clicking the link below.
</p>

<p>
    <a href="{{ host }}/{{ lang }}/register/verify/{{ token }}">Activate your account</a>
</p>

<p>
    Cheers,<br>
    xuedi & yimu
</p>