
<h1>Welcome to {{ url }}</h1>

<p>
    Your account just got approved, welcome to the community
</p>

<p>
    Feel free to <a href="{{ host }}/{{ lang }}/profile/">Login</a>
</p>

<p>
    Cheers,<br>
    xuedi & yimu
</p>
