{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_default"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title is-3">{{ "menu_cookie_consent_button" | trans }}</h1>
            <p>
                If you choose to not accept cookies like the open street map cookie, you can always change your opinion when you suppose to see a map :-)
            </p>
        </div>
    </section>

{% endblock %}
