{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_default"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title is-3">Cookies</h1>
            <p>
                these are the current cookie settings
            </p>
        </div>
    </section>

{% endblock %}
