{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_default"|trans }}{% endblock %}

{% block body %}
    <section class="section mt-6">
        <div class="container">
            <h2 class="title is-4">Cookies</h2>
            <p>
                these are the current connie settings
            </p>

        </div>
    </section>

{% endblock %}
