<div class="card">
    <div class="card-image">
        <figure class="image is-2">
            {% include '_block/image.html.twig' with {'image': user.image, 'size': '400x400'} %}
        </figure>
    </div>
    <div class="card-content p-3 has-text-centered">
        <p>{{ user.name }}</p>
    </div>
</div>
