{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">

        {% include 'admin/_components/admin_tabs.html.twig' with {'adminTabs': adminTabs} only %}
        {% include 'admin/_components/admin_top.html.twig' with {'adminTop': adminTop} only %}

        {% include 'admin/_components/image_list_table.html.twig' with {
            'images': images,
            'usageCounts': usageCounts,
            'imageIssues': imageIssues,
            'detailRoute': 'app_admin_system_images_show',
        } only %}

    </div>

{% endblock %}
