{% extends 'base.html.twig' %}

{% block title %}{{ "page_plugin_glossary_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <table class="table">
                <thead>
                <tr>
                    <th>Phrases</th>
                    <th>Translation</th>
                    <th>Explanation</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {% for item in glossary %}
                    <tr>
                        <td>{{ item.phrase }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>

{% endblock %}

