{% extends 'base.html.twig' %}

{% block title %}{{ "page_plugin_glossary_title"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            {% include '@Glossary/blocks/list.html.twig' %}

        </div>
    </section>

{% endblock %}

