<div class="box">
    <h2 class="title is-6">Upcoming Events - {{ contextLabel }}</h2>
    {% if upcomingEvents|length == 0 %}
        <p class="has-text-grey">No upcoming events</p>
    {% else %}
        <table class="table is-fullwidth is-narrow">
            <tbody>
            {% for event in upcomingEvents %}
                <tr>
                    <td>{{ event.start|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('app_event_details', {'id': event.id}) }}">
                            {{ event.getTitle('en')|u.truncate(25) }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
