{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_manage"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1>Management</h1>

            <p>Power users can approve images</p>
            <p>create translation update requests</p>
            <p>approve translation update requests</p>

        </div>
    </section>

{% endblock %}
