{% extends 'base.html.twig' %}

{% block title %}Public Data API{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <h1 class="title is-3">Public Data API</h1>
            <p>
                All the Data you can have
            </p>
        </div>
    </section>

{% endblock %}
