{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_member"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">

            <h1 class="title">success</h1>
            <p>
                The item was deactivated for now and sent to review
            </p>

        </div>
    </section>

{% endblock %}
