{% extends 'base.html.twig' %}

{% block title %}{{ "page_title_report_success"|trans }}{% endblock %}

{% block body %}

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="box">

                        <div class="notification">
                            <p class="title is-5">{{ "report_success_title"|trans }}</p>
                            <p>{{ "report_success_body"|trans }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
